@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/SpaceGrotesk-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpaceGrotesk", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mono {
  font-family: "SpaceMono", consolas, monospace !important;
}

#teleporter-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-110%, -50%);
  padding: 1rem;
}

#teleporter {
  /** The extra percent is required to not show glitching pixels. */
  transform: translateX(101%);
}

#teleporter.showing {
  animation: TeleporterShowing forwards 600ms ease;
}

@keyframes TeleporterShowing {
  0% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(0);
  }
}
